<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Email: <%= @user.email %></h1>
        <h2>Donations:
            <% if current_user.donations != nil %>
                <%current_user.donations%>
            <% else %>
                0 $
            <% end %>
        </h2>

        <h2>My charities:</h2>
        <% @charities.each do |charity| %>
            <%= link_to(charity.name, "/charities/" + charity.id.to_s) %>
            <p><%= charity.description %></p>
        <% end %>
    </body>
</html>
