<div>
  <h3><strong>Make a Donation</strong></h3>
  <%= form_for [@charity, @donation], remote: true do |f| %>
    <div class="field">
      $ <%= f.text_area :amount, placeholder: "Enter donation amount" %>
    </div>
    <%= f.submit "Make donation"%>
  <% end %>
</div>
