<div>
  <%= form_for [@charity, @donation], remote: true do |f| %>
  <h5 class="amount"> Amount in dollars </h5>
    <div class="field">
      <%= f.text_area :amount, placeholder: "Enter donation amount in dollars" %>
    </div>
    <button><%= f.submit "Make donation"%></button>
  <% end %>
</div>
