<h1>Panacea</h1>
<h2><%= link_to('Sign up', new_user_registration_path) %>        <%= link_to('Log in', new_user_session_path) %></h2>


<% if current_user != nil%>
	<h3><%= link_to "Your Profile", current_user %><h3>
<% end %>


<%@cods.each do |cod|%>
  <button class="cod"> <%=link_to cod.name, cod_path(cod.id)%> </button>
<%end%>


