<style>
    a:link {
      color: #FFF;
      text-decoration: none;
    }
    a:visited {
      color: #BBB;
      text-decoration: none;
    }
    a:hover{
      color: #FF0;
      -webkit-transition: color .5s;
    }
    .cod {
      border: 0;
    }
</style>

<%= render 'countries/index', cod: @cod, countries: @countries %>

<%@cods.each do |cod|%>
  <button class="cod"> <%=link_to cod.name, cod_path(cod.id)%> </button>
<%end%>
