<style>
a:link {
  color: #FFF;
  text-decoration: none;
}
a:visited {
  color: #BBB;
  text-decoration: none;
}
a:hover{
  color: #FF0;
  -webkit-transition: color .5s;
}
.cod {
  border: 0;
}
</style>

<%= render 'countries/index', cod: @cod, countries: @countries %>

<%@cods.each do |cod|%>
  <button class="cod"
  style=background-color:<%="#"+(210 - (cod.country_cods.first.deathtoll/100 >= 80 ? 80 : cod.country_cods.first.deathtoll/100)).to_s(16).upcase+"0000"%>> <%=link_to cod.name, cod_path(cod.id)%> </button>
<%end%>
