<html>
    <title>Panacea</title>
    <h1> Welcome to Panacea </h1>
    <h1><%= cod.name %></h1>
    <% countries.each do |country| %>
        <p><%= country.name %> deathtoll:<%= country.country_cods.where(cod_id = cod.id).first.deathtoll%></p>

    <% end %>
</html>
