@import "panacea_settings.scss";
.cods {
  background-color: #333333;
  padding-top: 30px;
  padding-right: 80px;
  padding-left: 80px;
}
.cods:hover{
  text-decoration: bold;
  text-decoration-color: #000000;

}
button, input[type="submit"] {
  background-color: #008CBA;
  border-width: 0px;
  font: 16px;

}
