// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.donation {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  border-bottom: 1px solid #999999;
}

.amount {
  font: #636363
}

.description {
  font: #636363
}
